#opcao-bolos:checked ~ #menu-bebidas,
#opcao-bebidas:checked ~ #menu-bolos{
	display: none;
}

.menu{
	width: 100%;
}

body{
	background: #3D1A11;
	margin: 0;
	text-align: center;
	font-family: sans-serif;
}

input[type=radio]{
	display: none;
}

label{
	background-color:#563429;
	background-repeat:no-repeat;
	color: #FFF;
	display: block;
	text-transform: uppercase;
	font-size: 75%;
	padding: 4em 0 1em; 
}

label[for=opcao-bolos]{
	background-image: url(imagens/icone-bolos.svg);
}

label[for=opcao-bebidas]{
	background-image: url(imagens/icone-bebidas.svg);
}